<%= form_with(model: form, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :form_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: :form_email %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, id: :form_subject %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :form_messa %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
